*.log
*.pyc
*.swp
*.tmp
*~
.DS_Store
.env
.env.*
Thumbs.db
__pycache__/
auth.json
helm/*-values.yaml
terraform/.terraform.lock.hcl
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
